@{
    ViewData["Title"] = "Panel Admina";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Sneakers Planet</title>
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
    <div class="dashboard">
        <div class="menu">
            <ul>
                <li><a href="/admin">Kokpit</a></li>
                <li><a href="/admin/orders">Zamówienia</a></li>
                <li><a href="/admin/users">Użytkownicy</a></li>
                <li><a href="/admin/sneakers">Obuwie</a></li>
                <li><a href="/admin/clothes">Ubrania</a></li>
                <li><a href="/admin/accessories">Akcesoria</a></li>
                <li><a href="/logout">Wyloguj się</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Panel Admina!</h1>
            <p>W tym miejscu możesz edytować asortyment sklepu, zarządzać zamówieniami oraz kontami użytkowników.</p>
        </div>
    </div>
</body>
</html>
