<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers Planet</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="free-shipping">
        Darmowa dostawa przy zamówieniach powyżej 299 PLN!
    </div>
    <nav>
        <a href="/">
            <img src="~/images/cat-animal-icon.svg" alt="Home">
        </a>
        <a href="/">Home</a>
        <a href="/obuwie">Obuwie</a>
        <a href="/ubrania">Ubrania</a>
        <a href="/akcesoria">Akcesoria</a>
        <a href="/kontakt">Kontakt</a>
        <div class="right-icons">
            <a href="/search">
                <img src="~/images/search-icon.svg" alt="Search">
            </a>
            <a href="/account">
                <img src="~/images/account.svg" alt="Account">
            </a>
            <a href="/cart">
                <img src="~/images/shopping-cart.svg" alt="Shopping Cart">
            </a>
        </div>
    </nav>

    @RenderBody()
    
</body>
</html>
