@{
    ViewData["Title"] = "Kokpit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konto - Sneakers Planet</title>
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
    <div class="dashboard">
        <div class="menu">
            <ul>
                <li><a href="/Account">Kokpit</a></li>
                <li><a href="/Account/Orders">Zamówienia</a></li>
                <li><a href="/Account/Address">Adres</a></li>
                <li><a href="/Account/Details">Szczegóły konta</a></li>
                <li><a href="/Logout">Wyloguj się</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Witaj, @ViewData["FirstName"] @ViewData["LastName"]!</h1>
            <p>W ustawieniach swojego konta możesz przejrzeć swoje ostatnie zamówienia, zarządzać adresami płatności i dostawy oraz zmieniać hasło i szczegóły konta.</p>
        </div>
    </div>
</body>
</html>
