@model IEnumerable<SneakersPlanet.Models.Item>
@{
    ViewData["Title"] = ViewData["Category"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers planet</title>
    <link rel="stylesheet" href="~/css/items.css">
</head>
<body>
    <div class="sub-menu-bar">
        <p id="categoryName">@ViewData["Category"]</p>
    </div>

    <div class="product-details">
        @foreach (var item in Model)
        {
            <div class="sneaker-item">
                <a href="/Items/Details?slug=@item.Slug">
                    <img class="sneaker-image" src="@item.ImageURL" alt="Product Image">
                    <div class="sneaker-info">
                        <h2 class="sneaker-name">@item.Name</h2>
                        <p class="sneaker-price">Price: @item.Price PLN</p>
                    </div>
                </a>
            </div>
        }
    </div>
</body>
</html>
